{% extends 'layout/base.twig' %}


{% block content %}

<div class="content clearfix">
	<div id="meals-of-the-day">
		<h3 class="title-separator"><span class="title">Meals of the day</span><span class="sep"></span></h3>
		<ul>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-1.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-2.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-3.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-1.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-2.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-3.png" alt=""></div>
				<div class="desc-holder">
					<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
					<span class="price">$15.45</span>
					<a href="check-out.html" class="add-to-cart-button">add to cart</a>
				</div>
			</li>
		</ul>
	</div>
	<h3 class="title-separator"><span class="title">Featured meals</span><span class="sep"></span></h3>
	<div id="featured-meals">
		<ul>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-4.jpg" alt=""></div>
				<h1><a href="#">Lorem ipsum</a></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<span class="price">$15.45</span>
				<a href="check-out.html" class="add-to-cart-button">add to cart</a>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-5.jpg" alt=""></div>
				<h1><a href="#">Lorem ipsum</a></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				<span class="price">$15.45</span>
				<a href="check-out.html" class="add-to-cart-button">add to cart</a>
			</li>
			<li class="meal">
				<div class="img-holder"><img src="images/meal-6.jpg" alt=""></div>
				<h1><a href="#">Lorem ipsum</a></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<span class="price">$15.45</span>
				<a href="check-out.html" class="add-to-cart-button">add to cart</a>
			</li>
		</ul>
	</div>

	<div class="cart-box">
		<div class="top">Cart</div>
		<div class="body">
			<ul>
				<li class="info">
					<span class="products"><strong>5</strong> products</span>
					<a href="#">View cart</a>
				</li>
				<li class="price">
					<span class="label">Shipping</span>
					<span class="value">$0.00</span>
				</li>
				<li class="price">
					<span class="label">Total</span>
					<span class="value">$0.00</span>
				</li>
			</ul>
			<a class="submit-button" href="check-out.html">Check out</a>
			<div class="graphic"></div>
		</div>
	</div>
</div>

{% endblock %}

